{% extends  'plantilla_base.html' %} 

{% block title %}PRODUCTOS {% endblock%}

{%block content %} 

{% load static %}


  <div class="container-fluid">
<br>
    
    <div class="row">
      <div class=" col-md-8 text-center" >
        <h1 class="titulo">Lista de productos</h1><br>
        <div class="row text-center">
          {% for item in productosDB %}
          <div class="col-md-4 p-4" >
            {% block data %}
            <img class="imagen" src="{{item.imagen}}" >
            
            <h3 class="pt-3" id="item{{item.id}}">{{item.nombre}}</h3>

            <h3 hidden class="pt-3" id="itemimg{{item.id}}">{{item.imagen}}</h3>

            <h3 hidden class="pt-3" id="itemDescrip{{item.id}}">{{item.descripcion}}</h3>
            <div class="form-check-inline">
              
              <label class="form-check-label">
                <input class="form-check-input" id="itemP{{item.id}}"type="radio" value="{{item.precio}}" checked>
                  Precio: {{item.precio}} $
              </label>
            </div>
           
            {% if item.descuento > 0 %}
            <label class=" bg-danger text-white "for="">Descuento de {{item.descuento}} $</label>
            {% endif %}
            <div hidden class=" ">
                <input id="itemD{{item.id}}" type="number" value={{item.descuento}} for="" disabled >Descuento de {{item.descuento}} $ </input>
            </div><br>
            
            <div hidden class="">
              <input class=" bg-warning" id="itemDes{{item.id}}" value={{item.cantidad}} type="number" for=""  min="0" > Stock: {{item.cantidad}} piezas</label>
            </div>
            {%if item.cantidad > 0%}
            
            <div>
                <button type="submit"class="btn btn-dark mt-3" onclick="AgregarProducto('{{item.id}}')">Agregar al carrito</button>
            </div>
            
            {%endif%}
            {% if item.cantidad == 0 %}
            <div>
              <label for="">Producto sin stock</label>
            </div>
            {% endif%}
            {%endblock%}
            <div>
              <a class="btn btn-dark mt-3" href="ver_producto/{{item.id}}">Ver detalles</a>
            </div>
          </div>
          {% endfor%}
        </div>

      </div>
      <div class="col-md-4 orders ">
        <div class="text-light bg-dark">
        <h2 class="text-center">Productos agregados</h3>
          <ul id="porden"></ul>
        <h3 class="text-right" id="ptotal">Total: 0$</h4>
        </div>
      </div>

    </div>



  </div>

  <script src='{% static "js/venta.js" %}'></script>
  <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
  

{%endblock%}