#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #informacion {
    width: 40%;
  }
  #api {
    width: 60%;
  }



 #productos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
  }



 .titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
  }
  .inputs{
    width: 90%;
    height: 20px
  }
  .radio{
    box-sizing: border-box;
    appearance: none;
    background: white;
    outline: 2px solid #333;
    border: 3px solid white;
    width: 16px;
    height: 16px;
    



 }
  input[type='radio']:checked {
    background: #333;
  }
  .boton{
    text-align: center;
  }



 .btn-eliminar{
    color: white;
    background-color: rgb(193, 48, 41);
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
.center{
    text-align: center;
}



.btn-eliminar:hover{
    background-color: red;
    color: white;
}




.tamaño{
    height: 150px ;
    width: 250px;
    display: flex;
    
}



.ocultarboton{
    display: none;
}



.tarjeta{
    border: 5px gray solid;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    background-color:bisque;
    
}
.titulo-imagen{



   background-color: blue;
    height: 30px;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    position: relative;
    font-size: 100%;
    font-weight: bold;
    
}



.producto{
    font-family: Arial, Helvetica, sans-serif;
}
.savebutton{
    color: white;
    background-color: rgb(43, 69, 185);
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
.savebutton:hover{
    background-color: grey;
}



.advertencia{
    background-color: rgb(148, 240, 148);
    justify-items: center;
}
    
.ocultar{
    display: none;
}